@import url(./blocks/header/header.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/data/data.css);

body {
  background-color: #000;
  color: #fff;
}

.del a {
  display: block;
  color:#000;
  font-size:12px;
  padding:5px;
  background:lightgray;
  border-radius:8px;
  text-decoration:none;
}

.del {
  width: auto;
  height: 25px;
  margin: auto;
}