@import url(./__address/element__address.css);
@import url(./__name/element__name.css);

.data__element {
  max-width: 1666px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid grey;
}